<transformiix:result xmlns:transformiix="http://www.mozilla.org/TransforMiix">
/* http://meyerweb.com/eric/tools/css/reset/     v2.0 | 20110126    License: none (public domain) */

html,
body,
div,
span,
applet,
object,
iframe,
input,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*[id^='irise'] {
    box-sizing: border-box;
}

form[id^='irise'] {
    position: absolute;
}

iframe[id^='irise'] {
    position: absolute;
}

div[id^='irise'] {
    box-sizing: border-box;
    position: absolute;
}

td[id^='irise'] div[id^='irise'] {
    position: relative;
}

td[id^='irise'] div[id^='irise'] div[id^='irise'] {
    position: absolute;
}

img[id^='irise'] {
    position: absolute;
}

table[id^='irise'] {
    position: absolute;
}

td[id^='irise'] {
    position: static;
}

tr[id^='irise'] {
    position: static;
}

span [id^='irise'] {
    position: relative;
}

input[id^='irise'] {
    position: absolute;
}

hr[id^='irise'] {
    position: absolute;
}

textarea[id^='irise'] {
    position: absolute;
}

select[id^='irise'] {
    position: absolute;
}

button[id^='irise'] {
    position: absolute;
    text-align: center;
}

.NormalStyle {
    color: #404040;
    vertical-align: middle;
    font-size: 14px;
    line-height: 1.5;
    font-family: Arial;
    text-align: left;
}

a.NormalStyle:link {
    color: #006fbe;
    text-decoration: none;
}

a.NormalStyle:visited {
    text-decoration: none;
}

a.NormalStyle:active {
    color: #004a82;
    text-decoration: underline;
}

a.NormalStyle:hover {
    text-decoration: underline;
    color: #004a82;
}

form.NormalStyle {
    font-size: 14px;
    font-family: Arial;
    color: #202020;
}

.Button {
    border-radius: 4px;
    border-color: #c0c0c0;
    border-width: 1px;
    border-style: solid;
    background-color: #ffffff;
    border-bottom-left-radius: 4px;
    padding: 6px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-image: url('../images/styles/Button/button-bg.png');
    background-position: left top;
    background-repeat: repeat;
}

.ButtonFlat {
    border-radius: 4px;
    border-color: #c0c0c0;
    border-width: 1px;
    border-style: solid;
    background-color: #e6e6e6;
    border-bottom-left-radius: 4px;
    padding: 6px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.DefaultStyle {
    color: transparent;
    border-width: 1px;
    border-style: none;
    border-color: transparent;
    border-right-style: none;
    border-bottom-color: transparent;
    border-top-width: 1px;
    font-weight: normal;
    border-left-color: transparent;
    font-size: 11px;
    background-color: transparent;
    background-repeat: repeat;
    border-left-style: none;
    border-top-color: transparent;
    font-family: Arial;
    background-image: ;
    text-align: left;
    padding: 0px;
    border-right-width: 1px;
    text-decoration: none;
    vertical-align: baseline;
    border-right-color: transparent;
    line-height: 1.25;
    font-style: normal;
    border-left-width: 1px;
    border-top-style: none;
    text-transform: none;
    border-bottom-width: 1px;
    border-bottom-style: none;
    background-position: left top;
}

a.DefaultStyle:link {
    color: blue;
    text-decoration: underline;
}

a.DefaultStyle:visited {
    text-decoration: underline;
    color: purple;
}

a.DefaultStyle:active {
    text-decoration: underline;
}

a.DefaultStyle:hover {
    text-decoration: underline;
    color: red;
}

form.DefaultStyle {
    font-size: 11px;
    font-family: Verdana;
    color: black;
    text-transform: none;
}

a.Menus:link {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 14px;
    border-top-left-radius: 5px;
    vertical-align: middle;
    border-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 6px;
    color: #606060;
    text-align: center;
    background-color: #ffffff;
}

a.Menus:hover {
    border-bottom-right-radius: 5px;
    font-size: 14px;
    text-align: center;
    color: #202020;
    border-bottom-left-radius: 5px;
    border-radius: 5px;
    vertical-align: middle;
    background-color: #f0f0f0;
    padding: 6px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

a.Menus:link {
    border-bottom-right-radius: 1px;
    font-weight: bold;
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    vertical-align: middle;
    border-radius: 1px;
    border-bottom-left-radius: 1px;
    padding: 7px;
    color: #606060;
    border-style: solid;
    text-align: center;
    background-color: #ffffff;
    border-width: 1px;
    border-color: #e0e0e0;
}

a.Menus:hover {
    border-bottom-right-radius: 1px;
    text-align: center;
    color: #606060;
    border-width: 1px;
    border-bottom-left-radius: 1px;
    border-radius: 1px;
    vertical-align: middle;
    background-color: #f0f0f0;
    border-style: solid;
    padding: 7px;
    border-top-right-radius: 1px;
    border-color: #c0c0c0;
    font-weight: bold;
    border-top-left-radius: 1px;
}

.Narrative {
    color: black;
    font-size: 14px;
    font-family: Arial;
}

.Outline {
    color: black;
    font-weight: bold;
    font-size: 18px;
    font-family: Arial;
}

.Outline {
    color: black;
    font-size: 14px;
    font-family: Arial;
}

.Outline {
    color: black;
    font-size: 14px;
    font-family: Arial;
}

.Outline {
    color: black;
    font-size: 14px;
    font-family: Arial;
}

.SectionDark {
    border-radius: 3px;
    color: #ffffff;
    border-color: #202020;
    border-width: 1px;
    border-style: solid;
    background-color: #404040;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.SectionLight {
    border-radius: 3px;
    border-color: #e0e0e0;
    border-width: 1px;
    border-style: solid;
    background-color: #f0f0f0;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.SectionSemitransparent {
    border-radius: 3px;
    color: #202020;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-image: url('../images/styles/Section\ Semi-transparent/SectionSemiTransparentBG.png');
    background-position: left top;
    background-repeat: repeat;
}

.Table {
    border-color: #c0c0c0;
    padding: 4px;
    vertical-align: middle;
    text-align: left;
}

.TableHeaderRow {
    background-color: #f0f0f0;
    background-repeat: repeat-x;
    border-bottom-color: #a0a0a0;
    font-weight: bold;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-color: #c0c0c0;
}

.TextInput {
    border-radius: 2px;
    border-color: #c0c0c0;
    border-width: 1px;
    border-style: solid;
    border-bottom-left-radius: 2px;
    padding: 5px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.TextHeading {
    font-size: 31.5px;
}

.TextHeading {
    font-size: 22px;
}

.TextHeading {
    font-size: 18px;
}

.TextHeading {
    font-size: 16px;
}

#irise715fa176575d457088cfe8db322d6467 {
    position: relative;
    width: 1000px;
    overflow-x: auto;
    overflow-y: auto;
    height: 600px;
}

#irise24d2d0ace27b4dbdbf4c9f1149bc554c {
    position: relative;
    width: 1000px;
    background-color: #eef1f5;
    overflow-x: auto;
    overflow-y: auto;
    height: 600px;
}

#irise1224ee2fc81f4a24a9e155e8fea24b61 {
    position: relative;
    width: 1000px;
    background-color: #eef1f5;
    font-weight: normal;
    overflow-x: auto;
    overflow-y: auto;
    height: 600px;
}

#irise93e50821c1a8a171546f7a51728b4a24 {
    width: 1000px;
    top: 0px;
    height: 600px;
    image: bg.jpg;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

#irise658ffe94f2704005b8bc6015305c2619 {
    color: #008db1;
    width: 466.062px;
    font-weight: normal;
    font-size: 20px;
    top: 309px;
    font-family: Arial Black;
    text-align: center;
    bottom: 161px;
    right: 216px;
    left: 216px;
}

#irisea65270fc22d947cc87e7d41eb1c0094d {
    color: #c9f1fd;
    border-width: 1px;
    border-style: solid;
    border-color: #006e8c;
    width: 349px;
    border-right-style: solid;
    border-bottom-color: #006e8c;
    border-top-width: 1px;
    border-left-color: #006e8c;
    font-size: 12px;
    top: 304px;
    border-left-style: solid;
    border-top-color: #006e8c;
    text-align: center;
    height: 5px;
    border-right-width: 1px;
    bottom: 191px;
    vertical-align: middle;
    border-right-color: #006e8c;
    right: 275px;
    border-left-width: 1px;
    border-top-style: solid;
    left: 275px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

#irise227d00a70f6245298c985eae487ae327 {
    border-width: 0px;
    border-style: none;
    color: #ffffff;
    border-radius: 4px;
    border-color: ;
    width: 147.32739420935414px;
    background-color: #e61610;
    border-top-color: ;
    border-top-left-radius: 4px;
    bottom: 103px;
    border-right-width: 0px;
    border-right-color: ;
    border-top-right-radius: 4px;
    border-top-style: none;
    left: 376px;
    border-bottom-width: 0px;
    border-right-style: none;
    border-bottom-color: ;
    border-top-width: 0px;
    border-left-color: ;
    font-size: 14px;
    top: 368px;
    border-left-style: none;
    font-family: Arial;
    border-bottom-right-radius: 4px;
    padding: 6px;
    border-bottom-left-radius: 4px;
    right: 376px;
    border-left-width: 0px;
    border-bottom-style: none;
}

#irisef60c56c625f561ab0be0e9a3e7d2b362 {
    width: 147px;
    top: 247px;
    height: 43.46611909650924px;
    image: aurotech-logo-png(web).jpg;
    bottom: 205px;
    right: 371px;
    left: 378px;
}

#irise92d603cc653a4d6693af034ff7b77f8f {
    color: #008db1;
    width: 466.062px;
    font-weight: normal;
    font-size: 20px;
    top: 309px;
    font-family: Arial Black;
    text-align: center;
    bottom: 161px;
    right: 216px;
    left: 216px;
}

#irise6c26c49794e04a0fac1c38a3afc5e3a1 {
    color: #c9f1fd;
    border-width: 1px;
    border-style: solid;
    border-color: #006e8c;
    width: 349px;
    border-right-style: solid;
    border-bottom-color: #006e8c;
    border-top-width: 1px;
    border-left-color: #006e8c;
    font-size: 12px;
    top: 304px;
    border-left-style: solid;
    border-top-color: #006e8c;
    text-align: center;
    height: 5px;
    border-right-width: 1px;
    bottom: 191px;
    vertical-align: middle;
    border-right-color: #006e8c;
    right: 275px;
    border-left-width: 1px;
    border-top-style: solid;
    left: 275px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

#irise1d5906c700714271a70141776e411cc4 {
    border-width: 0px;
    border-style: none;
    color: #ffffff;
    border-radius: 4px;
    border-color: ;
    width: 147.32739420935414px;
    background-color: #e61610;
    border-top-color: ;
    border-top-left-radius: 4px;
    bottom: 103px;
    border-right-width: 0px;
    border-right-color: ;
    border-top-right-radius: 4px;
    border-top-style: none;
    left: 376px;
    border-bottom-width: 0px;
    border-right-style: none;
    border-bottom-color: ;
    border-top-width: 0px;
    border-left-color: ;
    font-size: 14px;
    top: 368px;
    border-left-style: none;
    font-family: Arial;
    border-bottom-right-radius: 4px;
    padding: 6px;
    border-bottom-left-radius: 4px;
    right: 376px;
    border-left-width: 0px;
    border-bottom-style: none;
}

#irisedd4c63d03c3543be89ae9ca246f28a09 {
    width: 147px;
    top: 247px;
    height: 43.46611909650924px;
    image: aurotech-logo-png(web).jpg;
    bottom: 205px;
    right: 371px;
    left: 378px;
}

#irisec6141d36e3cc4fcdb7a785986158c719 {
    color: #ffffff;
    width: 24px;
    font-size: 17px;
    top: 11px;
    font-family: FontAwesome;
    text-align: center;
    bottom: 12px;
    line-height: 1;
    right: 184px;
    left: 10px;
}

#iriseed9e83581cc043dea84288c8da0a8eab {
    color: #ffffff;
    width: 24px;
    font-size: 16px;
    top: 11px;
    font-family: FontAwesome;
    text-align: center;
    bottom: 13px;
    line-height: 1;
    right: 10px;
    left: 184px;
}

#irisef022eb23a6358fff90726fa55406c580 {
    color: #ffffff;
    width: 144px;
    font-size: 14px;
    top: 8px;
    font-family: Arial;
    height: 26px;
    bottom: 6px;
    line-height: 1.5;
    right: 32px;
    left: 42px;
}

#irisedf25f75b476842788f04e1388f67b468 {
    color: #b5c0ce;
    width: 24px;
    font-size: 16px;
    top: 11px;
    font-family: FontAwesome;
    text-align: center;
    bottom: 12px;
    line-height: 1;
    right: 10px;
    left: 184px;
}

#irise78c46e7232894750a05df5d7075a1856 {
    color: #ffffff;
    width: 144px;
    font-size: 14px;
    top: 8px;
    font-family: Arial;
    height: 26px;
    bottom: 4px;
    line-height: 1.5;
    right: 32px;
    left: 42px;
}

#irise941ac0f24242451f9ecea1c71b444d57 {
    color: #b5c0ce;
    width: 24px;
    font-size: 16px;
    top: 10px;
    font-family: FontAwesome;
    text-align: center;
    bottom: 13px;
    line-height: 1;
    right: 184px;
    left: 10px;
}

#irise6bb5bcca027847fdb65538560185ec8b {
    color: #b5c0ce;
    width: 24px;
    font-size: 16px;
    top: 11px;
    font-family: FontAwesome;
    text-align: center;
    bottom: 12px;
    line-height: 1;
    right: 10px;
    left: 184px;
}

#irise831f6e8f5bcd45dfab8fc6a523439188 {
    color: #ffffff;
    width: 144px;
    font-size: 14px;
    top: 8px;
    font-family: Arial;
    height: 26px;
    bottom: 5px;
    line-height: 1.5;
    right: 32px;
    left: 42px;
}

#irise92b84845595b4909a68f1633143d6695 {
    color: #b5c0ce;
    white-space: nowrap;
    font-size: 15px;
    top: 8px;
    font-family: FontAwesome;
    text-align: center;
    height: 25px;
    bottom: 6px;
    line-height: 1;
    right: 188px;
    left: 15px;
}

#irise510079e170e54fbabd3abf6592822aaf {
    color: #b5c0ce;
    width: 24px;
    font-size: 16px;
    top: 11px;
    font-family: FontAwesome;
    text-align: center;
    bottom: 12px;
    line-height: 1;
    right: 10px;
    left: 184px;
}

#irise41eb7858599b4162a23a6774acaa9e16 {
    color: #ffffff;
    width: 144px;
    font-size: 14px;
    top: 8px;
    font-family: Arial;
    height: 26px;
    bottom: 5px;
    line-height: 1.5;
    right: 32px;
    left: 42px;
}

#irise8635e63565b44c9ca4169344416409ec {
    color: #b5c0ce;
    width: 24px;
    font-size: 16px;
    top: 15px;
    font-family: FontAwesome;
    text-align: center;
    bottom: 8px;
    line-height: 1;
    right: 184px;
    left: 10px;
}

#irisea7084142565e4dc88d12ea7dc8be3a2c {
    color: #b5c0ce;
    width: 24px;
    font-size: 16px;
    top: 11px;
    font-family: FontAwesome;
    text-align: center;
    bottom: 12px;
    line-height: 1;
    right: 10px;
    left: 184px;
}

#irise257b0411332442788eb047ec78c6a56a {
    color: #ffffff;
    width: 144px;
    font-size: 14px;
    top: 8px;
    font-family: Arial;
    height: 26px;
    bottom: 5px;
    line-height: 1.5;
    right: 32px;
    left: 42px;
}

#irise17acdfcf03b54f95baa61f440189ae97 {
    color: #b5c0ce;
    width: 24px;
    font-size: 16px;
    top: 13px;
    font-family: FontAwesome;
    text-align: center;
    bottom: 10px;
    line-height: 1;
    right: 184px;
    left: 10px;
}

#irisea30a853c49d549cab266d12c65e28527 {
    color: #b5c0ce;
    width: 24px;
    font-size: 16px;
    top: 11px;
    font-family: FontAwesome;
    text-align: center;
    bottom: 12px;
    line-height: 1;
    right: 10px;
    left: 184px;
}

#irise0bb8987b5b85448d82be2c49c906271d {
    color: #ffffff;
    width: 144px;
    font-size: 14px;
    top: 8px;
    font-family: Arial;
    height: 26px;
    bottom: 5px;
    line-height: 1.5;
    right: 32px;
    left: 42px;
}

#irise06a5f43433934c57987262eb6d29ab82 {
    color: #b5c0ce;
    white-space: nowrap;
    font-size: 16px;
    top: 11px;
    font-family: FontAwesome;
    text-align: center;
    bottom: 12px;
    line-height: 1;
    right: 188px;
    left: 14px;
}

#irise037ca8a3174d4a6984ddd5c80f6e6be9 {
    width: 20px;
    top: 81px;
    height: 17px;
    image: glyphicons_113_justify.png;
    bottom: 500px;
    right: 184px;
    left: 14px;
}

#irise87029f3cdfc74b45ad7b451dd8954ba1 {
    color: #b55767;
    width: 97px;
    font-size: 13px;
    top: 25px;
    font-family: Arial;
    height: 27px;
    bottom: 18px;
    line-height: 1.5;
    right: 15px;
    left: 886px;
}

#irise36a742ad5ec3443dabb5d08f1239cea3 {
    color: #71859f;
    width: 24px;
    font-size: 19px;
    top: 24px;
    font-family: FontAwesome;
    text-align: center;
    bottom: 27px;
    line-height: 1;
    right: 152px;
    left: 822px;
}

#iriseb4622dd9311843c981323e89f1b98865 {
    color: #71859f;
    width: 24px;
    font-size: 20px;
    top: 23px;
    font-family: FontAwesome;
    text-align: center;
    bottom: 27px;
    line-height: 1;
    right: 121px;
    left: 853px;
}

#iriseec7d343f74b642e88e2e9ca31743660c {
    color: #71859f;
    width: 24px;
    font-size: 22px;
    top: 25px;
    font-family: FontAwesome;
    text-align: center;
    bottom: 22px;
    line-height: 1;
    right: 182px;
    left: 792px;
}

#iriseb4d840a6573c3f1d5bca690be5267f63 {
    width: 122px;
    top: 12px;
    height: 35.72072072072072px;
    image: at-logo-png.png;
    bottom: 22px;
    right: 836px;
    left: 40px;
}

#irise872606ea31e6603d59da43200f5e411b {
    width: 753px;
    top: -6px;
    height: 454px;
    image: screen2.jpg;
    bottom: 38px;
    right: 7px;
    left: -2px;
}

#irise3a94e395221308d721185e5fe9270aa8 {
    border-width: 0px;
    border-style: none;
    border-color: ;
    width: 900px;
    border-right-style: none;
    border-bottom-color: ;
    border-top-width: 0px;
    border-left-color: ;
    top: 49px;
    border-left-style: none;
    overflow-x: auto;
    border-top-color: ;
    overflow-y: auto;
    height: 500.0000000000001px;
    bottom: 50px;
    border-right-width: 0px;
    border-right-color: ;
    right: 49px;
    border-left-width: 0px;
    border-top-style: none;
    left: 51px;
    border-bottom-width: 0px;
    border-bottom-style: none;
}

#iriseee1a7bcebc2f4895b43ca9551622bffd {
    border-width: 1px;
    border-style: solid;
    border-color: #4dd7fa;
    width: 1000px;
    border-right-style: solid;
    border-bottom-color: #4dd7fa;
    border-top-width: 1px;
    border-left-color: #4dd7fa;
    top: 0px;
    border-left-style: solid;
    border-top-color: #4dd7fa;
    overflow-x: auto;
    overflow-y: auto;
    height: 600px;
    border-right-width: 1px;
    bottom: 0px;
    border-right-color: #4dd7fa;
    right: 0px;
    border-left-width: 1px;
    border-top-style: solid;
    left: 0px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

#irise7127946eb6a94a0ab21db4915b8d6503 {
    border-width: 1px;
    border-style: solid;
    border-color: #4dd7fa;
    width: 1000px;
    border-right-style: solid;
    border-bottom-color: #4dd7fa;
    border-top-width: 1px;
    border-left-color: #4dd7fa;
    top: 0px;
    border-left-style: solid;
    border-top-color: #4dd7fa;
    overflow-x: auto;
    overflow-y: auto;
    height: 600px;
    border-right-width: 1px;
    bottom: 0px;
    border-right-color: #4dd7fa;
    right: 0px;
    border-left-width: 1px;
    border-top-style: solid;
    left: 0px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

#iriseeab22447a54a4a28bc950c379c9b4ff0 {
    border-width: 0px;
    border-style: none;
    border-radius: 0px;
    border-color: ;
    width: 218px;
    background-color: #52637a;
    overflow-x: auto;
    border-top-left-radius: 0px;
    border-top-color: ;
    overflow-y: auto;
    height: 598px;
    bottom: -2px;
    border-right-width: 0px;
    border-top-right-radius: 0px;
    border-right-color: ;
    border-top-style: none;
    left: 0px;
    border-bottom-width: 0px;
    border-right-style: none;
    border-bottom-color: ;
    border-top-width: 0px;
    border-left-color: ;
    top: 0px;
    border-left-style: none;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    right: 778px;
    border-left-width: 0px;
    border-bottom-style: none;
}

#irise42dd4b6430c54b96ae48e36f28e246b3 {
    border-width: 0px;
    border-style: none;
    border-radius: 0px;
    border-color: ;
    width: 218px;
    background-color: #71859f;
    overflow-x: auto;
    border-top-left-radius: 0px;
    border-top-color: ;
    overflow-y: auto;
    height: 40px;
    bottom: 447px;
    border-right-width: 0px;
    border-top-right-radius: 0px;
    border-right-color: ;
    border-top-style: none;
    left: 0px;
    border-bottom-width: 0px;
    border-right-style: none;
    border-bottom-color: ;
    border-top-width: 0px;
    border-left-color: ;
    top: 111px;
    border-left-style: none;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    right: 0px;
    border-left-width: 0px;
    border-bottom-style: none;
}

#irisebf06471384af4eef96097200b394459e {
    border-width: 0px;
    border-style: none;
    border-radius: 0px;
    border-color: ;
    width: 218px;
    border-top-color: ;
    overflow-x: auto;
    border-top-left-radius: 0px;
    overflow-y: auto;
    height: 40px;
    bottom: 407px;
    border-right-width: 0px;
    border-right-color: ;
    border-top-right-radius: 0px;
    border-top-style: none;
    left: 0px;
    border-bottom-width: 1px;
    border-right-style: none;
    border-bottom-color: #687c95;
    border-top-width: 0px;
    border-left-color: ;
    top: 151px;
    border-left-style: none;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    right: 0px;
    border-left-width: 0px;
    border-bottom-style: solid;
}

#irise6c9c44c7b80d4fcd805ad8f65a996c39 {
    border-width: 0px;
    border-style: none;
    border-radius: 0px;
    border-color: ;
    width: 218px;
    border-top-color: ;
    overflow-x: auto;
    border-top-left-radius: 0px;
    overflow-y: auto;
    height: 40px;
    bottom: 367px;
    border-right-width: 0px;
    border-right-color: ;
    border-top-right-radius: 0px;
    border-top-style: none;
    left: 0px;
    border-bottom-width: 1px;
    border-right-style: none;
    border-bottom-color: #687c95;
    border-top-width: 0px;
    border-left-color: ;
    top: 191px;
    border-left-style: none;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    right: 0px;
    border-left-width: 0px;
    border-bottom-style: solid;
}

#irise552b0e089dc449088540a3f571b84650 {
    border-width: 0px;
    border-style: none;
    border-radius: 0px;
    border-color: ;
    width: 218px;
    border-top-color: ;
    overflow-x: auto;
    border-top-left-radius: 0px;
    overflow-y: auto;
    height: 40px;
    bottom: 327px;
    border-right-width: 0px;
    border-right-color: ;
    border-top-right-radius: 0px;
    border-top-style: none;
    left: 0px;
    border-bottom-width: 1px;
    border-right-style: none;
    border-bottom-color: #687c95;
    border-top-width: 0px;
    border-left-color: ;
    top: 231px;
    border-left-style: none;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    right: 0px;
    border-left-width: 0px;
    border-bottom-style: solid;
}

#irisee9b83cfd74f84b2f818c161ab0371032 {
    border-width: 0px;
    border-style: none;
    border-radius: 0px;
    border-color: ;
    width: 218px;
    border-top-color: ;
    overflow-x: auto;
    border-top-left-radius: 0px;
    overflow-y: auto;
    height: 40px;
    bottom: 287px;
    border-right-width: 0px;
    border-right-color: ;
    border-top-right-radius: 0px;
    border-top-style: none;
    left: 0px;
    border-bottom-width: 1px;
    border-right-style: none;
    border-bottom-color: #687c95;
    border-top-width: 0px;
    border-left-color: ;
    top: 271px;
    border-left-style: none;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    right: 0px;
    border-left-width: 0px;
    border-bottom-style: solid;
}

#irise99c62f914bdc4ff09e355ed89358dabc {
    border-width: 0px;
    border-style: none;
    border-radius: 0px;
    border-color: ;
    width: 218px;
    border-top-color: ;
    overflow-x: auto;
    border-top-left-radius: 0px;
    overflow-y: auto;
    height: 40px;
    bottom: 247px;
    border-right-width: 0px;
    border-right-color: ;
    border-top-right-radius: 0px;
    border-top-style: none;
    left: 0px;
    border-bottom-width: 1px;
    border-right-style: none;
    border-bottom-color: #687c95;
    border-top-width: 0px;
    border-left-color: ;
    top: 311px;
    border-left-style: none;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    right: 0px;
    border-left-width: 0px;
    border-bottom-style: solid;
}

#irise69c06edc20044bb58517f7346146ea03 {
    border-width: 0px;
    border-style: none;
    border-radius: 0px;
    border-color: ;
    width: 998px;
    background-color: #2b3643;
    overflow-x: auto;
    border-top-left-radius: 0px;
    border-top-color: ;
    overflow-y: auto;
    height: 71px;
    bottom: 525px;
    border-right-width: 0px;
    border-top-right-radius: 0px;
    border-right-color: ;
    border-top-style: none;
    left: 0px;
    border-bottom-width: 1px;
    border-right-style: none;
    border-bottom-color: #59738b;
    border-top-width: 0px;
    border-left-color: ;
    top: 0px;
    border-left-style: none;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    right: -2px;
    border-left-width: 0px;
    border-bottom-style: solid;
}

#irise8aa99eb9a9a4a45d9c1b5e02a12f171c {
    border-width: 0px;
    border-style: none;
    border-color: ;
    width: 758px;
    border-right-style: none;
    border-bottom-color: ;
    border-top-width: 0px;
    border-left-color: ;
    top: 90px;
    border-left-style: none;
    overflow-x: auto;
    border-top-color: ;
    overflow-y: auto;
    height: 486px;
    bottom: 20px;
    border-right-width: 0px;
    border-right-color: ;
    right: 9px;
    border-left-width: 0px;
    border-top-style: none;
    left: 229px;
    border-bottom-width: 0px;
    border-bottom-style: none;
}

</transformiix:result>