@-webkit-keyframes fadeBounce {

    0% {
        opacity: 0;
        transform: translateY(-200%);
    }

    40% {
        transform: translateY(0);
    }

    55% {
        transform: translateY(-6px);
    }

    70% {
        opacity: 1;
        transform: translateY(0);
    }

    85% {
        transform: translateY(-3px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }

}


@keyframes fadeBounce {

    0% {
        opacity: 0;
        transform: translateY(-200%);
    }

    40% {
        transform: translateY(0);
    }

    55% {
        transform: translateY(-6px);
    }

    70% {
        opacity: 1;
        transform: translateY(0);
    }

    85% {
        transform: translateY(-3px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }

}


div.flip-container{
    color: #fff;
    background:#0B2743;
    float: left;
    border: 1px solid red;
    border-radius: 20px;
    padding: 10px;
    margin: 10px 10px 10px 50px;
}

.w3-container{
    margin-bottom: 10px;
}

.w3-container h4{
    color: #fff;
}
body{
    background: #eee;
}

.nav{
    padding:0;
}

.w3-card-4{
    width: 30%;
    margin: 0 10px;
    display: inline-block;
    border-radius: 10px;
    border: 1px solid #0B2743;
    background: #fff;
}

.btn-head{
    background: #0B2743;
    color: #fff;
    border-radius: 9px 9px 0 0;
}

.btn-bottom{
    background: #0B2743;
    color: #fff;
    border-radius: 0 0 10px 10px;
    outline: none;
    border: none;
    width: 100%;
    padding: 10px;
}

.btn-bottom a{
    text-decoration: none;
}

.btn-bottom:hover{
    background: #0b5574;
    transition: all .5s;
}



.nav li{
    display:inline-block;
    list-style: none;
    text-decoration: none;
    outline: none;
}

.pills{
    opacity: 0;
    animation: fadeBounce 2s forwards;
    -webkit-animation: fadeBounce 2s forwards;
    background: #14499C;
    padding:5px 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
    width: 20%;
    text-decoration: none;
    outline: none;
    color: #fff;
}

.pills:hover{
    border: 1px solid #fff;
    background: #2196F3;
    color: #fff;
    transition: all, 0.5s ease-out;
}