html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	font-family: Avenir, Helvetica, sans-serif;
	font-size: 16px;
	overflow-scrolling: touch;
}

em{
	font-weight: bold;
	font-size: 20px;
	color: #b2b3b3;
	position: relative;
	top: 36px;
	left: 190px;
}

.right-text{
	float: right;
	margin: 35px auto;
	font-size: 20px;
	color: #c9c9c9;
	text-decoration: none;
	font-weight: bold;
	letter-spacing: initial;
}

iframe{
	border: 1px solid #eee;
}

.sidebar {
	color: #1A4067;
	float: left;
	transition: all .4s ease 0s;
	height: 125%;
	background: #3c669a;
	width: 12%;
	font-weight: bold;
}


.mainmenu{
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 10px;
	color: white;
	background: #6180B9;
}

.mainmenu a:hover {
	color: black;
	background-color: #14499C;
	-webkit-transition: all 0.5s ease-out;
}

.mainmenu a {
	font-size: 17px;
	display: block;
	background: #14499C;
	text-decoration: none;
	color: white;
	padding: 6px;
}


.submenu{
	list-style: none;
	text-align: center;
	margin: 0;
	padding:0;
}

.sidebar-menu li:hover .submenu {
	max-height:200px;
	margin: 0;
	font-size: 15px;
}

.submenu a {
	background-color: #2196F3;
	margin: 0;
}

.submenu a:hover {
	margin: 0;
	background-color: #666;
}


.submenu {
	overflow: hidden;
	max-height: 0;
	-webkit-transition: all 0.5s ease-out;
}

.pull-right{
	float: right;
	letter-spacing: 25px;
	font-size: 35px;
	padding-top: 25px;
	padding-right: 25px;
}

.icon-text{
	position: relative;
	top: -4px;
	font-size: 20px;
	color: #c9c9c9;
	text-decoration: none;
	font-weight: bold;
	letter-spacing: initial;
}

#logo{
	height: 75px;
	width: 170px;
	padding: 10px;
	position: absolute;
}


.main {
	color: #1A4067;
	float: right;
	padding: 20px;
	width: 88%;
	height: 100%;
	box-sizing: border-box;
}

.main h1{
	margin:0;
	font-style: 25px;
}

h4{
	color: #8e0000;
}

hr {
	border : 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.justify{
	padding: 30px;
	text-align: justify;
	text-justify: inter-word;
}

.heading{
	border-bottom: 2px solid #3F70BC;
	background: #333333;
	height: 88px;
}



.menu-icon{
	color: #fff;
	font-size: 25px;
	height: 60px;
	padding: 20px;
	list-style: none;
	text-decoration: none;
}

.side-icon{
	display: block;
	margin-bottom: 5px;
}

.side-icon-cogs{
	display: block;
	margin-bottom: 5px;
}

.menu-li{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;
}
.sidebar-menu {
	width: 100%;
	margin: 0;
	padding: 0;
}

.sidebar-li{
	font-size: 15px;
	list-style: none;
	text-align: center;
}
.sidebar-li a:hover {
	color: #000;
	background-color: #2196F3;
	font-weight: bold;
	transition-property: color, background-color, font-weight;
	transition-duration: 0.5s;
}

.sidebar-li a {
	text-decoration: none;
	color: white;
	display: block;
	background: #14499C;
	margin: 10px;
	padding: 15px;

}



/*USER BUTTON*/

.right-icons{

	display: inline;
	float: right;
	padding-right: 50px;
}
.dropbtn {
	color: #c9c9c9;
	outline: none;
	background-color: transparent;
	padding-right: 35px;
	font-size: 35px;
	border: none;
	cursor: pointer;
	padding-top: 30px;
	-webkit-transition: all 0.5s ease-out;
}

/*.dropbtn:hover {*/
	/*transform: rotateZ(360deg);*/
/*}*/
.dropdown {
	position: relative;
	display: inline-block;
	-webkit-transition: all 0.5s ease-out;
}

.dropdown-content {
	display: none;
	text-align:	right;
	position: absolute;
	right: 40px;
	background-color: #f9f9f9;
	min-width: inherit;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	border: 2px solid lightgray;
	background-color: black;
	color:#D9D9D9;
}

.dropdown:hover .dropdown-content {
	-webkit-transition: all 0.5s ease-out;
	display: block;
}

.dropdown:hover .dropbtn {
	-webkit-transition: all 0.5s ease-out;
	background-color: transparent;
}
