body {
	height: 100%;
	margin: 0;
	font-family: "Avenir";
	font-size: 16px;
}

em{
	font-weight: bold;
	font-size: 25px;
	color: #334B7A;
}

.sidebar {
	color:#1A4067;
	float: left;
	transition: all .4s ease 0s;
	height: 100vh;
	background: #3F70BC;
	font-weight: bold;
}


.mainmenu{
	list-style: none;
	border-bottom: 1px solid white;
	padding: 0;
	margin: 0;
}

.mainmenu a:hover {
	background-color: #C5C5C5;
}

.mainmenu a {
	display: block;
	background-color: #3F70BC;
	text-decoration: none;
	color: white;
	padding: 30px;
	height: 10px;
	margin: 0;
}


.submenu{
	list-style: none;
	text-align: center;
	margin: 0;
	padding:0;
}

.sidebar-menu li:hover .submenu {
	max-height: 200px;
	margin: 0;
	font-size: 20px;
}

.submenu a {
	background-color: #2196F3;
	margin: 0;
}

.submenu a:hover {
	margin: 0;
	background-color: #666;
}


.submenu {
	overflow: hidden;
	max-height: 0;
	-webkit-transition: all 0.5s ease-out;
}

.menu-icon{
	font-size: 40px;
	height: 60px;
	padding: 20px;

}

.pull-right{
	float:right;
	letter-spacing: 2px;
	font-size: 35px;
	padding: 30px;
}

.icon-text{
	margin-top: 5px;
	font-size: 10px;
	display: block;
	color: black;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	letter-spacing: initial;
	font-family: "Avenir";
}

#logo{
	height: 60px;
	width: 190px;
	padding-left: 50px;
	padding-right: 20px;
	padding-top: 10px;
}


.main {
	color:#1A4067;
	float: right;
	padding:20px;
	height: 100%;
	box-sizing: border-box;
}

hr {
	border : 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#show{
	width: 20%;
}

#show.clicked{
	width:0%;
	transition: 0.5s;
}

#hide.clicked{
	width:100%;
	transition: 0.5s;

}

#hide{
	width: 80%;
	transition: 0.5s;
}

#spacing{
	width: 80%;
	padding-left: 10px;
}

.heading{
	border-bottom: 2px solid #3F70BC;
	background:#D9D9D9;
	height: 110px;
}


.sidebar-menu {
	width: 100%;
	margin: 0;
	padding: 0;
}

.sidebar-li{
	color:#17373f;
	list-style: none;
	border-bottom: 1px solid white;
	padding-left: 30px;
	line-height: 60px;
}
.sidebar-li:hover {
	background-color: #2196F3;
	font-size: 20px;
	font-weight: bold;
}

.sidebar-li a {
	text-decoration: none;
	color: white;
	display: block;
	line-height: 60px;
}

/*USER BUTTON*/

.dropbtn {
	background-color: #eef2f3;
	color: black;
	border: none;
	cursor: pointer;
	height: 30px;
	font-size: inherit;
	text-transform: uppercase;
	letter-spacing: 1px;
	outline: none;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-transform: uppercase;
}

.dropdown-content a:hover {
	background-color: #2196F3;
	color: white;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #2196F3;
	color: white;
}

