body {
	height: 100%;
	margin: 0;
	font-family: "Avenir";
	font-size: 16px;
}

em{
	font-weight: bold;
	font-size: 20px;
	color: #334B7A;
	position: relative;
	top: 36px;
	left: 190px;
}


.sidebar {
	color:#1A4067;
	float: left;
	transition: all .4s ease 0s;
	height: 150%;
	background: #3F70BC;
	width: 12%;
	font-weight: bold;
}


.mainmenu{
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 10px;
	color: white;
	background: #6180B9;
}

.mainmenu a:hover {
	background-color: #C5C5C5;
}

.mainmenu a {
	font-size: 17px;
	display: block;
	background: #6180B9;
	text-decoration: none;
	color: white;
	padding: 6px;
}


.submenu{
	list-style: none;
	text-align: center;
	margin: 0;
	padding:0;
}

.sidebar-menu li:hover .submenu {
	max-height:200px;
	margin: 0;
	font-size: 15px;
}

.submenu a {
	background-color: #2196F3;
	margin: 0;
}

.submenu a:hover {
	margin: 0;
	background-color: #666;
}


.submenu {
	overflow: hidden;
	max-height: 0;
	-webkit-transition: all 0.5s ease-out;
}

.pull-right{
	float: right;
	letter-spacing: 25px;
	font-size: 35px;
	padding-top: 25px;
	padding-right: 25px;
}

.icon-text{
	margin-top: 5px;
	font-size: 10px;
	display: block;
	color: black;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	letter-spacing: initial;
	font-family: "Avenir";
	padding-right: 20px;
}

#logo{
	height: 75px;
	width: 170px;
	padding: 10px;
	position: absolute;
}


.main {
	color: #1A4067;
	float: right;
	padding: 20px;
	width: 88%;
	height: 100%;
	box-sizing: border-box;
}

hr {
	border : 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.heading{
	border-bottom: 2px solid #3F70BC;
	background: #D9D9D9;
	height: 88px;
}



.menu-icon{
	color: #fff;
	font-size: 25px;
	height: 60px;
	padding: 20px;
	list-style: none;
	text-decoration: none;
}

.side-icon{
	display: block;
	margin-bottom: 5px;
}

.side-icon-cogs{
	display: block;
	margin-bottom: 5px;
}

.menu-li{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;
}
.sidebar-menu {
	width: 100%;
	margin: 0;
	padding: 0;
}

.sidebar-li{
	font-size: 15px;
	list-style: none;
	text-align: center;
}
.sidebar-li a:hover {
	color: #000;
	background-color: #2196F3;
	font-weight: bold;
	transition-property: color, background-color, font-weight;
	transition-duration: 0.5s;
}

.sidebar-li a {
	text-decoration: none;
	color: white;
	display: block;
	background: #6180B9;
	margin: 10px;
	padding: 15px;
}



/*USER BUTTON*/

.right-icons{

	display: inline;
	float: right;
	padding-right: 50px;
}
.dropbtn {
	outline: none;
	background-color: transparent;
	padding-right: 35px;
	font-size: 35px;
	border: none;
	cursor: pointer;
	padding-top: 30px;
	-webkit-transition: all 0.5s ease-out;
}

.dropdown {
	position: relative;
	display: inline-block;
	-webkit-transition: all 0.5s ease-out;
}

.dropdown-content {
	display: none;
	position: absolute;
	right: 40px;
	background-color: #f9f9f9;
	min-width: inherit;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	-webkit-transition: all 0.5s ease-out;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	-webkit-transition: all 0.5s ease-out;
}

.dropdown-content a:hover {
	-webkit-transition: all 0.5s ease-out;
	border: 2px solid lightgray;
	background-color: black;
	color:#D9D9D9;
}

.dropdown:hover .dropdown-content {
	-webkit-transition: all 0.5s ease-out;
	display: block;
}

.dropdown:hover .dropbtn {
	-webkit-transition: all 0.5s ease-out;
	background-color: transparent;
}
